node_modules
/bedrock_server/*
/storage/*
/.key/*
!/bedrock_server/vcruntime140_1_.dll
!/bedrock_server/dbghelp.dll
/npm-debug.log
/pdbcache_by_example.ini
*.js
!/bdsx/index.js
!/bdsx/legacy.js
!/bdsx/chat.js
!/bdsx/exehacker.js
!/bdsx/servercontrol.js
!/bdsx/native.js
!/bdsx/netevent.js
!/bdsx/checkgate.js
!/bdsx/asm/asmcode.js
/plugin-example/package-lock.json
*.json
plugins/backup/BackupManager.d.ts
plugins/backup/BackupManager.js.map
plugins/backup/BackupManager.test.ts
plugins/backup/BackupManager.ts
plugins/backup/BackupUtils.d.ts
plugins/backup/BackupUtils.js.map
plugins/backup/BackupUtils.test.ts
plugins/backup/BackupUtils.ts
plugins/backup/IBackupSettings.d.ts
plugins/backup/IBackupSettings.js.map
plugins/backup/IBackupSettings.ts
plugins/backup/index.d.ts
plugins/backup/index.js.map
plugins/backup/index.ts
plugins/backup/LICENSE
plugins/backup/README.md
plugins/bdsx-sos9533scr-main/.npmignore
plugins/bdsx-sos9533scr-main/bds/index.ts
plugins/bdsx-sos9533scr-main/bds/level.ts
plugins/bdsx-sos9533scr-main/data/lang/english.ini
plugins/bdsx-sos9533scr-main/data/lang/korean.ini
plugins/bdsx-sos9533scr-main/functions.ts
plugins/bdsx-sos9533scr-main/index.ts
plugins/bdsx-sos9533scr-main/LICENSE
plugins/bdsx-sos9533scr-main/README.md
plugins/bdsx-sos9533scr-main/scr/anticrasher.ts
plugins/bdsx-sos9533scr-main/scr/ban.ts
plugins/bdsx-sos9533scr-main/scr/bossbar.ts
plugins/bdsx-sos9533scr-main/scr/exit.ts
plugins/bdsx-sos9533scr-main/scr/home.ts
plugins/bdsx-sos9533scr-main/scr/info.ts
plugins/bdsx-sos9533scr-main/scr/item.ts
plugins/bdsx-sos9533scr-main/scr/join.ts
plugins/bdsx-sos9533scr-main/scr/kick.ts
plugins/bdsx-sos9533scr-main/scr/log.ts
plugins/bdsx-sos9533scr-main/scr/message.ts
plugins/bdsx-sos9533scr-main/scr/mute.ts
plugins/bdsx-sos9533scr-main/scr/prefix.ts
plugins/bdsx-sos9533scr-main/scr/tag.ts
plugins/bdsx-sos9533scr-main/scr/timecommand.ts
plugins/bdsx-sos9533scr-main/scr/tpa.ts
plugins/bdsx-sos9533scr-main/scr/tpcommand.ts
plugins/bdsx-sos9533scr-main/setting.ts
plugins/bdsx-sos9533scr-main/sos9533scr_logo.png
plugins/economy-shop-main/index.ts
plugins/economy-shop-main/README.md
plugins/economy-shop-main/src/commands.ts
plugins/economy-shop-main/src/index.ts
plugins/economy-shop-main/src/sell.ts
plugins/economy-shop-main/src/utils/message.ts
plugins/economy-x/index.ts
plugins/economy-x/README.md
plugins/economy-x/src/command.ts
plugins/economy-x/src/economy.ts
plugins/economy-x/src/index.ts
plugins/economy-x/src/util/configuration.ts
plugins/economy-x/src/util/lang.ts
plugins/economy-x/src/utils/lang.ts
plugins/economy-x/src/utils/translate.ts
plugins/economy-x/texts/EN_us.lang
plugins/multiworlds-main/index.ts
plugins/multiworlds-main/multiworlds.ts
plugins/multiworlds-main/users/_.txt
plugins/multiworlds-main/utils.ts
plugins/simple-warp-1.0.0/index.ts
plugins/simple-warp-1.0.0/README.md
plugins/simple-warp-1.0.0/src/api/index.ts
plugins/simple-warp-1.0.0/src/command/index.ts
plugins/simple-warp-1.0.0/src/form/index.ts
plugins/simple-warp-1.0.0/src/index.ts
index.ts
example_and_test/custommotd.ts
example_and_test/ipban.ts
example_and_test/custommotd.ts
example_and_test/custommotd.ts
example_and_test/actor-effects.ts
example_and_test/attribute.ts
example_and_test/blockcustomname.ts
example_and_test/customcommand.ts
example_and_test/custommotd.ts
example_and_test/entity.ts
example_and_test/event-knockback.ts
example_and_test/event-playerdropitem.ts
example_and_test/executecommand.ts
example_and_test/form.ts
example_and_test/hidemapmarker.ts
example_and_test/index.ts
example_and_test/inventory.ts
example_and_test/ipban.ts
example_and_test/lowlevel-apihooking.ts
example_and_test/lowlevel-asm.ts
example_and_test/lowlevel-dll.ts
example_and_test/lowlevel-nativeclass.ts
example_and_test/lowlevel-string-and-vector.ts
example_and_test/nbt-sign.ts
example_and_test/net-halfmove.ts
example_and_test/net-printall.ts
example_and_test/net-rawpacket.ts
example_and_test/net-scorepacket.ts
example_and_test/net-sendhook.ts
example_and_test/net-transferserver.ts
example_and_test/setblock.ts
example_and_test/storage.ts
example_and_test/test.ts
example_and_test/vulnerabilities.ts
example_and_test/actor-effects.ts
example_and_test/attribute.ts
example_and_test/blockcustomname.ts
example_and_test/customcommand.ts
example_and_test/custommotd.ts
example_and_test/entity.ts
example_and_test/event-knockback.ts
example_and_test/event-playerdropitem.ts
example_and_test/executecommand.ts
example_and_test/form.ts
example_and_test/hidemapmarker.ts
example_and_test/index.ts
example_and_test/inventory.ts
example_and_test/ipban.ts
example_and_test/lowlevel-apihooking.ts
example_and_test/lowlevel-asm.ts
example_and_test/lowlevel-dll.ts
example_and_test/lowlevel-nativeclass.ts
example_and_test/lowlevel-string-and-vector.ts
example_and_test/nbt-sign.ts
example_and_test/net-halfmove.ts
example_and_test/net-printall.ts
example_and_test/net-rawpacket.ts
example_and_test/net-scorepacket.ts
example_and_test/net-sendhook.ts
example_and_test/net-transferserver.ts
example_and_test/setblock.ts
example_and_test/storage.ts
example_and_test/test.ts
example_and_test/vulnerabilities.ts
example_and_test/custommotd.ts
