/node_modules/*
/bedrock_server/*
/storage/*
/.key/*
!/node_modules/@bdsx/*
!/bedrock_server/vcruntime140_1_.dll
!/bedrock_server/dbghelp.dll
/npm-debug.log
/pdbcache_by_example.ini
*.js
!/bdsx/index.js
!/bdsx/legacy.js
!/bdsx/chat.js
!/bdsx/exehacker.js
!/bdsx/servercontrol.js
!/bdsx/native.js
!/bdsx/netevent.js
!/bdsx/checkgate.js
!/bdsx/asm/asmcode.js
/plugin-example/package-lock.json
*.json




example_and_test/custommotd.ts
example_and_test/actor-effects.ts
example_and_test/attribute.ts
example_and_test/blockcustomname.ts
example_and_test/customcommand.ts
example_and_test/entity.ts
example_and_test/event-knockback.ts
example_and_test/event-playerdropitem.ts
example_and_test/executecommand.ts
example_and_test/form.ts
example_and_test/hidemapmarker.ts
example_and_test/index.ts
example_and_test/inventory.ts
example_and_test/ipban.ts
example_and_test/lowlevel-apihooking.ts
example_and_test/lowlevel-asm.ts
example_and_test/lowlevel-dll.ts
example_and_test/lowlevel-nativeclass.ts
example_and_test/lowlevel-string-and-vector.ts
example_and_test/nbt-sign.ts
example_and_test/net-halfmove.ts
example_and_test/net-printall.ts
example_and_test/net-rawpacket.ts
example_and_test/net-scorepacket.ts
example_and_test/net-sendhook.ts
example_and_test/net-transferserver.ts
example_and_test/setblock.ts
example_and_test/storage.ts
example_and_test/test.ts
example_and_test/vulnerabilities.ts
example_and_test/actor-effects.ts
example_and_test/attribute.ts
example_and_test/blockcustomname.ts
example_and_test/customcommand.ts
example_and_test/custommotd.ts
example_and_test/entity.ts
example_and_test/event-knockback.ts
example_and_test/event-playerdropitem.ts
example_and_test/executecommand.ts
example_and_test/form.ts
example_and_test/hidemapmarker.ts
example_and_test/index.ts
example_and_test/inventory.ts
example_and_test/ipban.ts
example_and_test/lowlevel-apihooking.ts
example_and_test/lowlevel-asm.ts
example_and_test/lowlevel-dll.ts
example_and_test/lowlevel-nativeclass.ts
example_and_test/lowlevel-string-and-vector.ts
example_and_test/nbt-sign.ts
example_and_test/net-halfmove.ts
example_and_test/net-printall.ts
example_and_test/net-rawpacket.ts
example_and_test/net-scorepacket.ts
example_and_test/net-sendhook.ts
example_and_test/net-transferserver.ts
example_and_test/setblock.ts
example_and_test/storage.ts
example_and_test/test.ts
example_and_test/vulnerabilities.ts
example_and_test/custommotd.ts
