node_modules
/bedrock_server/*
!/bedrock_server/server.properties
!/bedrock_server/prefix.json
/storage/*
/.key/*
!/bedrock_server/vcruntime140_1_.dll
!/bedrock_server/dbghelp.dll
/npm-debug.log
	@@ -17,3 +18,69 @@ node_modules
!/bdsx/checkgate.js
!/bdsx/asm/asmcode.js
/plugin-example/package-lock.json